* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	width: 50px;
	overflow: hidden;
	color: #fff;
	background: royalblue;
}
